/**media**/
@media screen and (max-width: 1200px){
    nav ul li+li{
        margin-left: 1em;
    
    }

    nav ul{
        padding: 1em 1em;
        
    }

    nav ul li a {  
        padding: 0.5em 1em;
    }

}


/**Media ****/

@media screen and (max-width: 930px){
    /*nav*/
    nav ul li+li{
        margin-left: 0.5em;
    
    }

    nav ul{
        padding: 1em 1em;
    }

    nav ul li a {  
        padding: 0.5em 1em;
        font-size: 0.9rem;
    }

    /*quote-container*/
    .quote-container section p{
        font-size: 2rem;
        width: min(355px, 100%);
    }

    /*form-section*/
    .form-section section {
        width: min(355px, 100%);
    }
}


@media screen and (max-width: 800px){
    
    nav ul{
        display: flex;
        background: var(--light-clr);
        z-index: 1000;
        padding: 1em;
        position: absolute;
        height: 100vh;
        top: 0;
        left: 100%;
        flex-direction: column;
        justify-content: flex-start;
        transition: left 350ms ease-in-out;
    }

    nav {
        background: var(--light-clr);
        height: 80px;
        justify-content: flex-end;
        
    }

    nav ul .login{
        order: 1;
    }

    nav ul li:not(.login){
        order: 2;
    }

    nav ul li{
        margin: 0.5em;
    }

    nav ul li a{
        font-size: 1.1rem;
    }

    nav .active{
        border: none;
        color: var(--primary-clr);
    }

    nav ul li:not(.login) a:hover{
        border: none;
    }

    .Hamburger{
        display: block;
    }

    #Hamburger:checked ~ ul{
        left: 0;
    }

    .Hamburger-close{
        display: flex;
        cursor: pointer;
        
    }

    .social-container{
        position: absolute;
    }

    .social-media-icons{
        flex-direction: row;
        align-self: flex-start;
        position: absolute;
        top: calc(80px / 2);
        transform: translateY(-50%);
    }

    .chatbox{
        position: fixed;
        right: 1em;
    }

    .img-section, .txt-section {
        width: 100%;
    }

    .form-section section{
        margin-left: 0;
    }


    .grid-section{
        grid-template-areas:"img1 img2 img3 img3 img4 img4 img4" 
                         "img1 img2 img3 img3 img4 img4 img4"
                         "img5 img5 img6 img6 img4 img4 img4"
                         "img5 img5 img6 img6 img7 img8 img8"
                         "img9 img9 img10 img10 img11 img11 img11"
                         "img9 img9 img10 img10 img11 img11 img11"
                         "img12 img12 img10 img10 img11 img11 img11";
    }
    
}   


@media screen and (max-width: 600px){
    
    .grid-section{
        grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(15,1fr);        
        grid-template-areas:"img1 img2"
                            "img3 img3"
                            "img3 img3"
                            "img4 img4"
                            "img4 img4"
                            "img5 img5"
                            "img5 img5"
                            "img6 img6"
                            "img6 img6"
                            "img7 img8"
                            "img9 img10"
                            "img9 img10"
                            "img11 img10"
                            "img12 img12"
                            "img12 img12"
    }

    .form-section{
        order: 2;
        width: 100%;
    }
    .form-section section{
        width: 100%;
    }

    .form-img-section{
        width: 100%;
        order: 1;
    }

    footer{
        padding: 5em 2.5em;
    }
}


@media screen and (max-width: 550px){
   

.Banner h2 {
    font-size: 3.15rem;
}

.Banner p {
    font-size: 0.85rem;
    text-align: center;
}

.quote-container section {
    width: 100%;
    justify-content: flex-start;
    
}

footer{
    text-align: center;
}

.quote-container section p {
    font-size: 1.5rem;
}



}
